@using System.IO
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Ocelot.Configuration.File
@using Ocelot.ConfigEditor
@inject IReloadService ReloadService

@model FileConfiguration

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2 col-vertical-offset-2">
        <a asp-action="CreateReRoute"><span class="glyphicon glyphicon-plus"></span> Create</a>
    </div>
    <div class="col-md-10">
        <h2>ReRoutes</h2>
        <ul>
            @foreach (var route in Model.ReRoutes)
            {
                var toolTip = string.Empty;
                for (var i = 1; i < route.DownstreamHostAndPorts.Count; i++)
                {
                    toolTip += $"<div>{route.DownstreamHostAndPorts[i].Host}:{route.DownstreamHostAndPorts[i].Port}</div>";
                }
                <li>
                    <div>
                        <a asp-action="EditReRoute" asp-route-id="@route.GetId()" >
                            @($"{route.DownstreamScheme}://{route.DownstreamHostAndPorts[0].Host}:{route.DownstreamHostAndPorts[0].Port}{route.DownstreamPathTemplate}")
                        </a>
                        @if (!string.IsNullOrEmpty(toolTip))
                        {
                            <span class="glyphicon glyphicon-option-horizontal" data-toggle="tooltip" data-placement="right" data-html="true" title="@toolTip"></span>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


@section Scripts
{
    @if (await ReloadService.IsReloadRequired())
    {
        <script type="text/javascript">
            $.notify("There are pending configuration changes. Click to reload.", { className: "warn", autoHide: false });

            $(document).on('click',
                '.notifyjs-bootstrap-warn',
                function() {
                    $("#reload-form").submit();
                });

            $('[data-toggle="tooltip"]').tooltip();
        </script>
        <form id="reload-form" method="post" action="@Url.Action("Reload")"></form>
    }
}
