@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}


input,
select,
textarea { 
  max-width: 280px; 
}

.col-vertical-offset-2 { 
  margin-top: 20px; 
}

.required:after {
  content: " *";
  color: red;
}

ul {
  list-style-type: none;
}

.panel-title > a {
  color: inherit;
}

.nav-item > a {
  color: #ffffff;
}